@import "src/sass/variables";

.home-mobile {
  height: 100%;
  overflow: auto;

  &--welcome {

    &__wrapper {
      @apply px-6 py-4;
      height: 100%;
      display: flex;
      position: relative;
      flex-direction: column;

      &__heading {
        font-family: 'Montserrat Alternates', sans-serif;

        &--welcome {
          @apply text-sm leading-3 mb-2.5;
          font-weight: 600;
          color: var(--grey-4-color);
        }

        &--phrase {
          @apply text-2xl mb-3;
          line-height: 1.5rem;
          font-weight: 700;

          .marked {
            color: var(--primary-alt-color);
          }
        }
      }

      // &--description {
      //   @apply text-sm mb-3;
      //   line-height: .895rem;
      // }

      &::after {
        position: absolute;
        content: "";
        top: -$mobile-navbar-height;
        left: 0;
        height: calc(420px - ($mobile-navbar-height + $mobile-footer-height));
        width: 100%;
        background-color: var(--background-alt-theme);
        border-radius: 0% 100% 21% 79% / 78% 0% 100% 22%;
        z-index: -1;
      }
    }
  }

  &--principles {
    @apply px-6 py-4;

    &__title {
      @apply text-xl mb-3;
      font-family: 'Montserrat Alternates', sans-serif;
      line-height: 1.5rem;
      font-weight: 700;

      .marked {
        color: var(--primary-alt-color);
      }
    }

    &__wrapper {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem .5rem;

      &__principle {
        @apply py-4 px-4;
        flex: 1 1 auto;
        background: transparent;
        backdrop-filter: blur( 10px );
        border: 1px solid var(--border-theme);
        border-radius: 1rem;
        box-shadow: 1.5px 1.5px 20px 2.5px var(--border-theme);
        text-align: center;

        &--text {
          font-family: 'Montserrat Alternates', sans-serif;
          font-weight: 500;
          line-height: 1rem;
          color: var(--primary-alt-color);
        }
      }

      &::after {
        position: absolute;
        content: "";
        width: 50vw;
        height: 150px;
        top: 0%;
        transform: translateX(calc(50% - 16px));
        border-radius: 57% 43% 57% 43% / 34% 39% 61% 66%;
        background-color: var(--background-alt-theme);
        z-index: -1;
      }
    }
  }

  &--section {
    width: 100%;

    &__wrapper {
      @apply px-6 py-4;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &__heading {
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;

        &--title {
          @apply text-lg;
          line-height: 1.15rem;
          font-weight: 700;
          color: var(--text-alt-theme);
        }

        &--link {
          @apply ml-auto text-sm;
          color: var(--primary-alt-color);
          font-weight: 600;
        }
      }

      &__card {
        width: 100%;
        height: calc((100vw - 48px) / 2);
        display: grid;
        position: relative;
        grid-template-columns: 50% 50%;
        grid-template-rows: unset;
        border-radius: 24px;
        box-shadow: 1.5px 1.5px 20px 2.5px var(--border-theme);

        &--illustration {
          @apply my-auto;
          border-radius: inherit;

          &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: calc((60vw - 48px));
            height: 100%;
            // border-radius: 24px 0 0 24px;
            border-radius: inherit;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            background-color: var(--background-alt-theme);
            z-index: -1;
          }
        }

        &--content {
          @apply py-5 px-3;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;

          .initialism {
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 800;
            color: var(--grey-6-color);
          }

          .meaning {
            @apply mb-2;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            color: var(--primary-alt-color);
            font-size: .875rem;
            line-height: .875rem;
            word-spacing: -1.5px;
          }

          .description {
            font-size: .75rem;
            line-height: .75rem;
            font-weight: 300;
          }
        }
      }
    }
  }
}
