<section class="home-mobile--welcome">
  <div class="home-mobile--welcome__wrapper">
    <div class="home-mobile--welcome__wrapper__heading">
      <h3 class="home-mobile--welcome__wrapper__heading--welcome">
        {{ 'home.mobile.welcome.text' | translate }}
      </h3>
      <h1 class="home-mobile--welcome__wrapper__heading--phrase">
        {{ 'home.mobile.welcome.phrase' | translate | translateCut:0 }}
        <span class="marked">{{ 'home.mobile.welcome.phrase' | translate | translateCut:1 }}</span>
        {{ 'home.mobile.welcome.phrase' | translate | translateCut:2 }}
        <span class="marked">{{ 'home.mobile.welcome.phrase' | translate | translateCut:3 }}</span>
      </h1>
    </div>
    <p class="home-mobile--welcome__wrapper--description">
      {{ 'home.mobile.description' | translate }}
    </p>
    <a routerLink="us">{{ 'home.mobile.link' | translate }}</a>
  </div>
</section>
