<div class="nav_container">
    <div class="before_header">
        <div class="center_information">
            <p class="text-xs location">{{ 'home.nav.nav_contact.location' | translate }}</p>
            <p class="text-xs phone">{{ 'home.nav.nav_contact.phones' | translate }}</p>
        </div>
    </div>

    <header class="header">
        <div class="center_header">
            <div class="logo">
                <div class="sai_logo">
                    <h1 class="sai_brand">SAI</h1>
                    <div class="sai_desc">
                        <p class="sai_title">Solciones</p>
                        <p class="sai_subtitle">Informaticas</p>
                    </div>
                </div>
            </div>

            <nav class="app_nav">
                <div *ngFor=" let link of 'home.nav.links' | translate">
                    <div class="link">
                        <a [routerLink]="link.to" [routerLinkActive]="'active'">{{link.route}}</a>                       
                    </div>
                </div>

                <div class="saienlinea link">
                    <a [routerLink]="'saienlinea'" [routerLinkActive]="'active'">Sai en linea</a>
                </div>
            </nav>
        </div>
    </header>
    
</div>