.nav_container {
    margin: auto;
    border-bottom: 1px solid var(--grey-10-color);   
    background: #FFFF;

    .before_header {
        background: #DCEAFC;

        .center_information {
            max-width: var(--max-width-desktop);
            margin: auto;
            padding: 8px var(--desktop-content-padding);


            display: flex;
            justify-content: flex-end;
            gap: 20px;

            .location {
                color: var(--grey-4-color);
                font-weight: 500;
            }

            .phone {
                color: var(--grey-4-color);
                font-weight: 500;

            }
        }
    }

    .header {

        .center_header {
            max-width: var(--max-width-desktop);
            margin: auto;
            display: flex;
            justify-content: space-between;
            padding: 0 var(--desktop-content-padding);

            .logo {
                display: flex;
                justify-content: center;
                align-items: center;

                .sai_logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 6px;
                    color: var(--primary-alt-color);

                    .sai_brand {
                        font-size: 2.5em;
                        font-weight: 700;
                    }

                    .sai_title {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .sai_subtitle {
                        margin: -7px 0 0 0;
                        font-size: 14px;
                    }
                }

                .logo_image {
                    width: 60px;
                }
            }

            .app_nav {
                display: flex;
                gap: 25px;
                position: relative;

                .link {
                    &:hover {

                        // cursor: pointer;
                        // background: #000;
                        .submenu {
                            display: block;
                        }
                    }

                    color: var(--grey-6-color);
                    padding: 30px 0;

                }

                .active {
                    border-bottom: 3px solid var(--primary-alt-color);
                    color: var(--grey-2-color);
                }

                .saienlinea {
                    a {
                        color: var(--primary-alt-color);
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .whatsapp__button {
        position: fixed;
        bottom: 3em;
        right: 3em;
        z-index: 4;
        background: #43c754;
        padding: 8px 10px;
        // border-radius: 7px;
        border-radius: 50%;
        transition: all ease-in 050ms;

        &:hover {
            transform: scale(1.1);

        }

        .whatsapp__icon {
            color: #FFFF;
            font-size: 2.4em;
            overflow: hidden;
        }
    }
}