@import "src/sass/variables";

.sidebar-mobile {
  position: fixed;
  display: block;
  width: 80vw;
  height: 100vh;
  border-radius: 0 15px 15px 0;
  box-shadow: 0px -1px 25px 1.5px var(--border-theme);
  z-index: 10;

  &--overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--black-color);
    opacity: 0.35;
    z-index: 5;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-alt-theme);
    border-radius: inherit;
  }
}
