@import "src/sass/variables";

.contact-mobile {
  height: 100%;
  overflow-y: auto;

  &--landing {
    position: relative;

    &__wrapper {
      @apply py-4 px-6;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      &__title {
        @apply mb-3 text-2xl;
        font-family: 'Montserrat Alternates', sans-serif;
        line-height: 1.5rem;
        font-weight: 700;
      }

      &__description {
        @apply mb-2.5;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.125rem;
        color: var(--grey-4-color);
      }
    }
  }

  &--information {
    @apply py-4 px-6;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__card {
      width: 100%;
      height: auto;
      position: relative;
      border-radius: 15px;
      // box-shadow: var(--box-shadow-1);
      // border: 1px solid var(--border-theme);

      &__header {
        @apply p-4 pb-8;
        display: flex;
        align-items: center;
        border-radius: inherit;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border: 1px solid var(--border-theme);
        background-color: var(--background-theme);

        &--container {
          display: flex;
          flex-direction: column;
          // max-width: 87%;

          &__title {
            @apply mb-2;
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.275rem;
            font-family: 'Montserrat Alternates', sans-serif;
            color: var(--primary-alt-color);
          }

          &__description {
            max-width: 275px;
            font-size: 0.875rem;
            line-height: 0.975rem;
            color: var(--grey-3-color);
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &--illustration {
          @apply ml-auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &__icon {
            fill: var(--grey-5-color);
            color: var(--grey-5-color);
            height: 55px;
            width: 55px;
          }
        }
      }

      &__content {
        @apply px-6 py-8;
        width: 100%;
        position: relative;
        top: -15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-alt-color);
        color: var(--light-color);
        border-radius: inherit;
        gap: .5rem;

        &--contact {
          line-height: 1rem;
          font-weight: 600;
        }
      }
    }

    // &__list {
    //   display: flex;
    //   flex-direction: column;
    //   gap: 1rem;

    //   &__element {
    //     display: flex;
    //     align-items: flex-start;
    //     gap: 1rem;

    //     &--icon {
    //       @apply p-2;
    //       display: flex;
    //       flex-direction: column;
    //       align-items: center;
    //       justify-content: center;
    //       border-radius: 15px;
    //       border: 1px solid var(--primary-alt-color);

    //       &__svg {
    //         @apply my-auto;
    //         fill: var(--primary-alt-color);
    //       }
    //     }

    //     &--content {
    //       display: flex;
    //       flex-direction: column;

    //       &__heading {
    //         @apply mb-1;
    //         color: var(--primary-alt-color);
    //         font-weight: 600;
    //         line-height: 1.115rem;
    //       }

    //       &__description {
    //         @apply mb-2;
    //         font-size: 0.875rem;
    //         line-height: 1rem;
    //         color: var(--grey-3-color);
    //       }

    //       &__important {
    //         display: block;
    //         letter-spacing: 1.5px;
    //       }
    //     }
    //   }
    // }
  }
}
