@mixin white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 10s;

// Animation
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-200px * var(--carrousel-lenght)))
    }
}

// Styling
.slider {
    background: white;
    // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before,
    &::after {
        @include white-gradient;
        content: "";
        height: 100px;
        position: absolute;
        width: 100px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    .slide-track {
        animation: scroll var(--carrousel-velocity) linear infinite;
        display: flex;
        width: calc(200px * (var(--carrousel-lenght) * 2));

        &:hover {
            animation-play-state: paused;
        }
    }

    .slide {
        height: 100px;
        width: 200px;
        display: flex;
        justify-content: center;

        img {
            height: 85%;
            transition: all ease 100ms;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}