/* PALETTE */
$primary-color: #394285;
$primary-alt-color: #4a81ff;

$secondary-color: #8cb239;
$secondary-alt-color: #8cb23980;

$light-color: #eceff4;
$light-alt-color: #e5e9f0;

$dark-color: #232323;
$dark-alt-color: #2a2828;

$white-color: #ffffff;
$black-color: #000000;

/* GRAY SCALE */
$grey-1-color: #2b2b2b;
$grey-2-color: #404040;
$grey-3-color: #555555;
$grey-4-color: #6b6b6b;
$grey-5-color: #808080;
$grey-6-color: #959595;
$grey-7-color: #aaaaaa;
$grey-8-color: #bfbfbf;
$grey-9-color: #d5d5d5;
$grey-10-color: #eaeaea;

/* HEIGHTS */
$mobile-navbar-height: 60px;
$mobile-footer-height: 80px;

$max-width-desktop: 1500px;
$desktop-content-padding: 50px;
