@import "src/sass/variables";

.header-mobile {
  width: 100%;
  height: calc($mobile-navbar-height);
  position: sticky;
  top: 0;
  // fill: var(--light-color);
  // color: var(--light-color);
  fill: var(--primary-alt-color);
  color: var(--primary-alt-color);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: transparent;
  border: 1px solid var(--border-theme);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  // -webkit-background-clip: border-box;
  // -moz-background-clip: border-box;
  background-clip: border-box;
  // box-shadow: 1.5px 1.5px 1rem 0.5px var(--border-theme);
  transition: all .3s ease-in;
  z-index: 1;

  &__scrolling {
    height: calc($mobile-navbar-height - 10px);
    border-radius: 0 0 15px 15px;
    transition: all .3s ease-in;
  }

  &__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: unset;
    align-items: center;
    border-radius: inherit;
    background-clip: border-box;
    // background-color: var(--primary-alt-color);
    background-color: inherit;

    &__brand {
      display: flex;
      align-items: center;
      gap: .35rem;
      font-family: 'Montserrat', sans-serif;

      &--name {
        font-size: 2.5rem;
        line-height: 2.25rem;
        font-weight: 700;
      }

      &--complement {
        display: flex;
        flex-direction: column;

        span {
          font-weight: 500;
        }
      }
    }

    &__navigation {
      display: flex;
      justify-content: flex-end;
      gap: .85rem;

      .icon-button {
        padding: .5rem;
        border-radius: 1rem;
        // border: 1px solid var(--light-color);
        border: 1px solid var(--primary-alt-color);
      }
    }
  }
}

@media screen and (max-width: 316px) {
  .header-mobile__wrapper__brand--complement {
    display: none;
  }
}
