<section class="not-found" role="feed">
  <div class="not-found__wrapper">
    <div class="not-found__wrapper--illustration">
      <app-illustration [source]="'assets/illustrations/not-found.svg'" [style]="'illustration'"/>
    </div>
    <div class="not-found__wrapper--content">
      <div class="not-found__wrapper--content__heading">
        <h1 class="title">{{ 'not_found.title' | translate }}</h1>
        <h2 class="subtitle">{{ 'not_found.subtitle' | translate }}</h2>
      </div>
      <p class="not-found__wrapper--content__description">
        {{ 'not_found.description' | translate }}
      </p>
      <div class="not-found__wrapper--content__links">
        <a routerLink="">{{ 'not_found.links.home' | translate }}</a>
        <a routerLink="">{{ 'not_found.links.goback' | translate }}</a>
      </div>
    </div>
  </div>
</section>
