<div class="banner">
    <div class="information" [ngClass]="{opacity: 'opacity'}">
        <div class="center_banner_information">
            <ng-container *ngIf="information[bannerState]">
                <p class="title">{{information[bannerState].information.title}}</p>
                <p class="body">{{information[bannerState].information.body}}</p>
            </ng-container>
            <div class="elements">
                <div *ngFor="let item of information; let i = index">
                    <div class="element" [ngClass]=" {'active' : bannerState == i}" (click)="changeBanner(i)"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider" #slide>
        <div *ngFor="let element of information" class="image">
            <img src={{element?.url}} alt="">
        </div>
    </div>
</div>

