.banner {
    position: relative;
    // height: 300px;

    .information {
        padding: 5em 0;
        position: absolute;
        width: 100%;
        height: 500px;
        // background: #0000006f;
        // background: linear-gradient(90deg, rgba(0,0,0,0.924992323589592) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
        background: linear-gradient(90deg, rgba(38,38,38,0.8465609510405725) 0%, rgba(0,0,0,0) 74%, rgba(0,0,0,0) 100%);
        z-index: 2;

        display: flex;
        align-items: center;

        .center_banner_information {
            width: var(--max-width-desktop);
            height: 100%;
            padding: 0 var(--desktop-content-padding);
            margin: auto;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            transition: all ease-in 500ms;

            .title {
                max-width: 500px;
                // font-size: 2.5em;
                font-size: 37px;
                color: #FFFF;
                font-weight: 600;
                line-height: 45px;
                transition: all ease-in 500ms;
            }

            .body {
                transition: all ease-in 500ms;
                padding: 12px 0 0 0;
                // font-size: 1.3em;
                // font-family: "Montserrat Alternates";
                font-size: 23px;
                line-height: 30px;
                max-width: 400px;
                color: #e9e9e9;
            }

            .elements {
                display: flex;
                position: relative;
                gap: 20px;
                margin: 30px 0 0 0;

                &:hover {
                    cursor: pointer;
                }

                .element {
                    width: 40px;
                    height: 8px;
                    background: #c4c4c48a;
                    border-radius: 5px;
                    position: relative;
                    overflow: hidden;
                }

                .active {
                    background: #FFFF;
                    transform: scale(1.10);
                    transition: all ease 300ms;

                    &::before {
                        content: '';
                        width: 50%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #4066ce;
                        animation: temp var(--banner-velocity);
                    }
                }
            }
        }

    }

    .slider {
        width: 100%;
        height: 500px;
        display: flex;
        position: relative;
        overflow: hidden;

        .image {
            position: absolute;
            width: 100%;
            height: 100%;
            animation: slidein 1s;
            transform: translateX(70px);
            opacity: 0;
            transition: all ease-in-out 130ms;

            &:first-child {
                opacity: 1;
                transform: translateX(0px);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}



