@import "src/sass/variables";

.fullscreen-spinner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-color);
  opacity: 0.65;
  z-index: 999 !important;
  color: var(--light-color);

  &--container {
    @apply p-6;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__loader {
      @apply mb-4;
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;

      div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid var(--light-color);
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: var(--light-color) transparent transparent transparent;

        &:nth-child(1) {
          animation-delay: -0.45s;
        }

        &:nth-child(2) {
          animation-delay: -0.3s;
        }

        &:nth-child(3) {
          animation-delay: -0.15s;
        }
      }
    }

    &__message {
      font-weight: 500;
      line-height: 1.15rem;
      color: var(--grey-6-color);
    }
  }
}
