<section class="contact-mobile">
  <div class="contact-mobile--landing">
    <div class="contact-mobile--landing__wrapper">
      <h2 class="contact-mobile--landing__wrapper__title">
        P&oacute;ngase en contacto con nosotros
      </h2>
      <span class="contact-mobile--landing__wrapper__description">
        Te brindamos Soluciones Inform&aacute;ticas a tu medida
      </span>
    </div>
  </div>
  <div class="contact-mobile--information">
    <article class="contact-mobile--information__card">
      <div class="contact-mobile--information__card__header">
        <div class="contact-mobile--information__card__header--container">
          <h2 class="contact-mobile--information__card__header--container__title">
            Correo electrónico
          </h2>
          <p class="contact-mobile--information__card__header--container__description">
            Preguntanos por email lo que necesites
          </p>
        </div>
        <div class="contact-mobile--information__card__header--illustration">
          <box-icon class="contact-mobile--information__card__header--illustration__icon" type="solid" name="envelope"
            size="lg"></box-icon>
        </div>
      </div>
      <div class="contact-mobile--information__card__content">
        <span class="contact-mobile--information__card__content--contact">
          contacto@equiposai.com
        </span>
      </div>
    </article>
    <article class="contact-mobile--information__card">
      <div class="contact-mobile--information__card__header">
        <div class="contact-mobile--information__card__header--container">
          <h2 class="contact-mobile--information__card__header--container__title">
            Ubicaci&oacute;n
          </h2>
          <p class="contact-mobile--information__card__header--container__description">
            Para que sepas en que ciudad localizarnos
          </p>
        </div>
        <div class="contact-mobile--information__card__header--illustration">
          <box-icon class="contact-mobile--information__card__header--illustration__icon" type="solid" name="map-alt"
            size="lg"></box-icon>
        </div>
      </div>
      <div class="contact-mobile--information__card__content">
        <span class="contact-mobile--information__card__content--contact">
          Armenia, Quind&iacute;o
        </span>
      </div>
    </article>
    <article class="contact-mobile--information__card">
      <div class="contact-mobile--information__card__header">
        <div class="contact-mobile--information__card__header--container">
          <h2 class="contact-mobile--information__card__header--container__title">
            Tel&eacute;fonos
          </h2>
          <p class="contact-mobile--information__card__header--container__description">
            Por si prefieres hacernos una llamada directa
          </p>
        </div>
        <div class="contact-mobile--information__card__header--illustration">
          <box-icon class="contact-mobile--information__card__header--illustration__icon" type="solid" name="phone"
            size="lg"></box-icon>
        </div>
      </div>
      <div class="contact-mobile--information__card__content">
        <span class="contact-mobile--information__card__content--contact">
          300 000 0000
        </span>
        <span class="contact-mobile--information__card__content--contact">
          300 000 0000
        </span>
      </div>
    </article>
  </div>
  <div class="contact-mobile--fill">
    <h2 class="contact-mobile--fill__title">
      Rellena el formulario y te responderemos en breve
    </h2>
    <form class="contact-mobile--fill__form" [formGroup]="formContact" #localForm="ngForm" (ngSubmit)="send()">
      <app-input-desktop type="text" placeholder="Escribe tu nombre completo" label="Nombre"
        formControlName="name"></app-input-desktop>
      <app-input-desktop type="text" placeholder="ejemplo@ejemplo.com" label="Correo electronico"
        [valid]=" email.errors?.['email']" error="Correo electronico invalido"
        formControlName="email"></app-input-desktop>
      <app-input-desktop type="text" placeholder="3166250909" label="Telefono (Opcional)" formControlName="phone"
        [valid]="phone.errors?.['pattern']"
        [error]="'Numero telefonico incorrecto'"></app-input-desktop>
      <app-input-desktop type="text" placeholder="Dejanos un mensaje..." label="Mensaje"
        formControlName="message"></app-input-desktop>
      <ngx-recaptcha2 #captchaEl [siteKey]="siteKey" formControlName="captcha">
      </ngx-recaptcha2>
      <button class="eq-btn eq-btn-md eq-btn-primary" [ngClass]="{'active': formContact.invalid}"
        [disabled]="!formContact.valid">
        <!-- <span>Enviar</span> -->
        Enviar
        <!-- <p *ngIf="!isLoading; else loader">Enviar mensaje</p>
        <ng-template #loader>
          <span class="loader"></span>
        </ng-template> -->
      </button>
    </form>
  </div>
</section>
