<app-banner-desktop [information]=" 'products.sifab.banner' | translate " [velocity]="5000"></app-banner-desktop>

<section class="module__section">
    <div class="center__module__section">
        <app-business-module-card title="Salud Ocupacional">
            <p class="module__info" content> Dolor atque itaque earum quisquam vel Reiciendis minima autem voluptatum temporibus minus Libero rem tempore commodi quisquam optio officia? Incidunt deleniti aspernatur nihil inventore quasi Nam praesentium nobis quasi repudiandae</p>
            <i image class="fa-solid fa-computer card__icon"></i>
        </app-business-module-card>
        <app-business-module-card title="Salud Ocupacional">
           <p class="module__info" content> Dolor atque itaque earum quisquam vel Reiciendis minima autem voluptatum temporibus minus Libero rem tempore commodi quisquam optio officia? Incidunt deleniti aspernatur nihil inventore quasi Nam praesentium nobis quasi repudiandae</p>
            <i image class="fa-solid fa-computer card__icon"></i>
        </app-business-module-card>
        <app-business-module-card title="Salud Ocupacional">
            <p class="module__info" content> Dolor atque itaque earum quisquam vel Reiciendis minima autem voluptatum temporibus minus Libero rem tempore commodi quisquam optio officia? Incidunt deleniti aspernatur nihil inventore quasi Nam praesentium nobis quasi repudiandae</p>
            <i image class="fa-solid fa-computer card__icon"></i>
        </app-business-module-card>

    </div>
</section>