<section class="about__section">
    <div class="center_about_section">
        <div class="about__content">
            <div>
                <div class="__content">
                    <h1 class="about__title">{{ 'home.about.title' | translate }}</h1>
                    <p class="about__subtitle">{{ 'home.about.subtitle' | translate }}</p>
                </div>
                <p class="about__sai">{{ 'home.about.content' | translate }}</p>
            </div>
            
            <a class="button_learn__more" [routerLink]="'/about'">
                <p class="text__learn">{{ 'home.about.button_learn_more' | translate }}</p>
                <i class="fa solid fa-arrow-right arrow__icon"></i>
            </a>
        </div>  

        <div class="about__ilustration">ashd</div>
    </div>
</section>
