.about__section {
    background: var(--primary-alt-color);

    .center_about_section {
        max-width: var(--max-width-desktop);
        margin: auto;
        display: flex;
        // gap: 20px;


        .about__content {
            padding: 5.5em 4em 5em var(--desktop-content-padding);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;

            .__content {

                .about__title {
                    color: var(--grey-10-color);
                    font-weight: 700;
                    font-size: 2.6em;
                }

                .about__subtitle {
                    margin: -15px 0 0 0;
                    color: var(--grey-10-color);
                    font-size: 1.6em;
                    font-weight: 500;
                }
            }

            .about__sai {
                color: var(--grey-10-color);
                max-width: 70%;
                font-weight: 450;
                margin: 10px 0 1em 0;
                font-size: 17px;
            }

            .button_learn__more {
                background: var(--grey-10-color);
                border-radius: 8px;
                padding: 10px 20px;

                display: flex;
                align-items: center;
                gap: 20px;

                &:hover {
                    .arrow__icon {
                        transform: translateX(10px);
                    }
                }

                .text__learn {
                    color: var(--primary-alt-color);
                    font-weight: 600;
                    font-size: 16px;
                }

                .arrow__icon {
                    transition: all ease-in 150ms;
                    color: var(--primary-alt-color);
                }
            }
        }

        .about__ilustration {
            width: 100%;
            padding: 3em 30px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .circle__image {
                position: relative;
                width: 170px;
                height: 230px;
                border-radius: 30px;
                overflow: hidden;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                &:first-child {
                    margin: 40px 0 0 60px;
                }

                &:nth-child(3) {
                    width: 200px;
                    height: 130px;
                    margin: 20px 0 0 -4em;
                }
            }



        }
    }
}

.securities__section {
    // background: #FFFF;
    background: var(--desktop-background-theme);    

    border-bottom: 1px solid var(--border-theme);

    .center__securities__section {
        max-width: var(--max-width-desktop);
        padding: var(--desktop-content-padding);
        margin: auto;

        .header__securities {
            .title__header_securities {
                font-size: 1.7em;
                color: var(--grey-6-color);
            }
        }

        .body__securities {
            margin: 50px 0;
            display: flex;
            justify-content: space-between;

            gap: 30px;
            flex-wrap: wrap;

            .security {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 50px;
                // border-right: 1px solid var(--grey-10-color);

                &:last-child {
                    border-right: none;
                }

                .security__icon {
                    font-size: 3.5em;
                    margin: 0 0 35px 0;
                    color: var(--primary-alt-color);
                }

                .security__title {
                    font-size: 20px;
                    font-weight: 500;

                    color: var(--secondary-text)
                }

                .security__body {
                    display: none;
                    text-align: center;
                    font-size: 13px;
                    margin: 5px 0 0 0;
                    color: var(--grey-2-color);
                }
            }
        }
    }
}

.products__section {
    // background: #FFFF;
    background: var(--desktop-background-theme);    

    border-bottom: 1px solid var(--border-theme);

    .center__products__section {
        max-width: var(--max-width-desktop);
        padding: 6.25em var(--desktop-content-padding) 2em var(--desktop-content-padding);
        margin: auto;

        .header__products {
            margin: 0 0 3rem 0;

            .title__products {
                font-size: 2em;
                text-align: center;
                font-weight: 600;
                color: var(--text-theme);
                margin: 0 0 0 1em;
            }

            .subtitle__products {
                text-align: center;
                color: var(--grey-5-color);
                font-size: 1.1em;
            }
        }

        .body__products {
            display: flex;
            gap: 5em;
            margin: 30px 0 9em;

            .product {
                padding: 30px;
                border-radius: 5px;
                border: 1px solid var(--border-theme);
                display: flex;
                flex-direction: column;
                gap: 35px;
                transition: all ease-in 100ms;

                &:hover {
                    transform: scale(1.02);

                    .product__information {
                        .product__link {
                            border-bottom: 1px solid var(--border-alt-theme);
                        }
                    }
                }

                .product__icon {
                    font-size: 50px;
                    color: var(--primary-alt-color);
                }

                .product__information {

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;



                    .product__title {
                        font-size: 1.6em;
                        font-weight: 600;
                        margin: 0 0 10px 0;
                        color: var(--text-theme);
                    }

                    .product__subtitle {
                        // display: none;
                        margin: 0 0 4px 0;
                        // max-width: 300px;
                        font-size: 19px;
                        font-weight: 500;
                        color: var(--text-theme);
                    }

                    .product__about {
                        font-size: 16px;
                        color: var(--grey-4-color);
                        margin: 0px 0 0 0;
                    }

                    .product__link {
                        // padding: 10px 20px;
                        color: var(--primary-alt-color);
                        margin: 30px 0 0 0;
                        transition: all ease 200ms;
                        // background: #2d4e9c09;                   

                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.clients__section {
    border-bottom: 1px solid var(--border-theme);

    .center__clients__section {
        max-width: var(--max-width-desktop);
        padding: var(--desktop-content-padding);
        margin: auto;

        .header__clients__section {
            .title__clients {
                font-size: 2em;
                color: var(--grey-6-color);
            }
        }

        .body__clients__section {
            padding: 3em 0;
        }
    }
}

.formcontact__section {
    // background: #fafafa;
    background: var(--desktop-background-theme);

    .center__formcontact__section {
        max-width: var(--max-width-desktop);
        padding: 6.25em var(--desktop-content-padding) 2em var(--desktop-content-padding);
        margin: auto;

        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .sidebar__contact {
            grid-column: 1 / 2;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .header__sidebar {
                display: flex;
                flex-direction: column;
                gap: 40px;

                .sai_logo {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    color: var(--primary-alt-color);

                    .sai_brand {
                        font-size: 2.5em;
                        font-weight: 700;
                    }

                    .sai_title {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .sai_subtitle {
                        margin: -7px 0 0 0;
                        font-size: 14px;
                    }
                }

                .contact__card {
                    display: flex;
                    align-items: flex-start;
                    gap: 20px;

                    .icon__contact__card {
                        border: 2px solid var(--grey-10-color);
                        padding: 13px 10px;
                        border-radius: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: 45px;
                        height: 45px;

                        .icon__contact {
                            font-size: 20px;
                            color: var(--text-theme);
                        }
                        
                        
                    }

                    .body__contact__card {
                        .title__contact {
                            font-size: 18px;
                            font-weight: 600;
                            color: var(--desktop-text-theme);
                        }

                        .subtitle__contact {
                            font-size: 16px;
                            color: var(--grey-5-color);
                            margin: 0 0 10px 0;
                        }

                        .info__contact {
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--grey-4-color);
                        }

                        .link {
                            color: var(--primary-alt-color);
                            border-bottom: 1px solid var(--primary-alt-color);
                        }
                    }
                }

            }

            .social__networks {
                display: flex;
                gap: 20px;

                .container__icon__network {
                    border: 2px solid var(--grey-10-color);
                    padding: 13px 10px;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 45px;
                    height: 45px;
                    
                    &:hover {
                        .icon_network {
                            color: var(--primary-alt-color);
                        }
                    }
                    
                    .icon_network {
                        transition: all ease 200ms;
                        font-size: 20px;
                        color: var(--text-theme);
                    }
                }
            }
        }

        .check_send {
            height: 593px;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: translate-opacity 300ms;

            .message__check {
                display: flex;
                flex-direction: column;
                align-items: center;


                .title {
                    font-weight: 700;
                    font-size: 1.5em;
                    color: #3bb75c;
                }

                .message {
                    text-align: center;
                    max-width: 300px;
                    font-size: 16px;
                    color: #64a575;
                }

                .icon_check {
                    margin: 30px 0 0 0;
                    font-size: 5em;
                    color: #3bb75c;
                }
            }
        }

        .contact__form {
            grid-column: 2 / 4;

            .contactform__section {

                display: flex;
                flex-direction: column;
                gap: 3em;
                max-width: 500px;
                margin: auto;

                .header__formcontact {
                    text-align: center;

                    .title__formcontact {
                        font-size: 2em;
                        color: var(--text-theme);
                        font-weight: 600;
                    }

                    .subtitle__formcontact {
                        font-size: 1.1em;
                        color: var(--grey-4-color);
                    }
                }


                .body__form__contact {

                    .contact__form {
                        display: flex;
                        flex-direction: column;
                        gap: 1.5em;

                        .full {
                            grid-column: 1 / 3;
                        }

                        .formcontact__button {
                            background: var(--primary-alt-color);
                            padding: 11px;
                            border-radius: 7px;
                            color: #FFFF;
                            font-weight: 500;
                            position: relative;
                            overflow: hidden;
                            transition: all 500ms;
                            height: 46px;
                        }

                        .active {
                            background: #c1d3ff;
                        }
                    }
                }

                .message__form {
                    margin: 20px 0 0 0;
                    border: 1px solid #4a80ff44;
                    border-radius: 7px;
                    padding: 7px;
                    background: #4a80ff17;
                    color: #4a80ff7a;
                    text-align: center;
                }
            }
        }

        .location__map {
            grid-column: 2 / 3;

            .mapouter {
                width: 100%;
            }
        }
    }
}

// Loader button

.loader {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
    33% {
        background: #FFF;
        box-shadow: -24px 0 #b4ccff, 24px 0 #FFF;
    }

    66% {
        background: #b4ccff;
        box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }

    100% {
        background: #FFF;
        box-shadow: -24px 0 #FFF, 24px 0 #b4ccff;
    }
}