@import "src/sass/variables";

.footer-mobile {
  width: 100%;
  height: $mobile-footer-height;
  position: sticky;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px -1px 25px 1.5px var(--border-theme);
  background-color: transparent;
  font-size: 12px;
  z-index: 1;

  &__wrapper {
    height: 100%;
    border-radius: inherit;
    background-color: var(--background-theme);
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    .link__active {
      fill: var(--primary-alt-color);

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background-color: var(--primary-alt-color);
      }
    }

    &--link {
      display: grid;
      grid-template-columns: unset;
      grid-template-rows: 100%;
      place-items: center;
      align-content: center;
      gap: .15rem;
      border-radius: inherit;
      fill: var(--grey-6-color);

      &:nth-child(3) {
        .footer-mobile__wrapper--link__container {
          background-color: var(--primary-alt-color);
          border-radius: 1rem;
          padding: 1rem;
          gap: 0;

          .footer-mobile__wrapper--link__container__icon {
            fill: var(--light-color);
          }
        }

        .footer-mobile__wrapper--link__text {
          color: var(--primary-alt-color);
        }
      }

      &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        padding: 0.35rem 1rem;
        // background-color: var(--primary-alt-color);

        // &__icon {
        //   height: 25px;
        //   width: 25px;
        // }
      }

      &__text {
        color: var(--grey-4-color);
      }
    }
  }
}
