<section class="us-mobile">
  <div class="us-mobile--description">
    <div class="us-mobile--description__wrapper">
      <div class="us-mobile--description__wrapper__heading">
        <h3 class="us-mobile--description__wrapper__heading--subtitle">
          {{ 'us.mobile.description.subtitle' | translate }}
        </h3>
        <h2 class="us-mobile--description__wrapper__heading--title">
          {{ 'us.mobile.description.title' | translate | translateCut:0 }}
          <span class="marked">
            {{ 'us.mobile.description.title' | translate | translateCut:1 }}
          </span>
        </h2>
      </div>
      <p class="us-mobile--description__wrapper__explanation">
        {{ 'us.mobile.description.explanation' | translate }}
      </p>
    </div>
  </div>
</section>
