<section class="us-mobile">
  <div class="us-mobile--description">
    <div class="us-mobile--description__wrapper">
      <div class="us-mobile--description__wrapper__heading">
        <h3 class="us-mobile--description__wrapper__heading--subtitle">
          {{ 'us.mobile.description.subtitle' | translate }}
        </h3>
        <h2 class="us-mobile--description__wrapper__heading--title">
          {{ 'us.mobile.description.title' | translate | translateCut:0 }}
          <span class="marked">
            {{ 'us.mobile.description.title' | translate | translateCut:1 }}
          </span>
        </h2>
      </div>
      <p class="us-mobile--description__wrapper__explanation">
        {{ 'us.mobile.description.explanation' | translate }}
      </p>
    </div>
  </div>
  <div class="us-mobile--principles">
    <div class="us-mobile--principles__wrapper">
      <article role="article" class="us-mobile--principles__wrapper__card" *ngFor="let principle of 'us.mobile.principles' | translate">
        <div class="us-mobile--principles__wrapper__card--illustration">
          <app-illustration [source]="principle.illustration.source" [style]="principle.illustration.style"></app-illustration>
        </div>
        <span class="us-mobile--principles__wrapper__card--title">
          {{ principle.title }}
        </span>
        <p class="us-mobile--principles__wrapper__card--description">
          {{ principle.description }}
        </p>
      </article>
    </div>
  </div>
  <div class="us-mobile--objective" *ngFor="let objective of 'us.mobile.objectives' | translate">
    <div class="us-mobile--objective__wrapper">
      <h2 class="us-mobile--objective__wrapper__title">
        {{ objective.title | translateCut:0 }}
        <span class="marked">
          {{ objective.title | translateCut:1 }}
        </span>
      </h2>
      <div class="us-mobile--objective__wrapper__illustration">
        <app-illustration [source]="objective.illustration.source" [style]="objective.illustration.style"></app-illustration>
      </div>
      <p class="us-mobile--objective__wrapper__description">
        {{ objective.description }}
      </p>
    </div>
  </div>
  <div class="us-mobile--team">
    <div class="us-mobile--team__wrapper">
      <h2 class="us-mobile--team__wrapper--title">
        {{ 'us.mobile.team.title' | translate | translateCut:0 }}
        <span class="marked">
          {{ 'us.mobile.team.title' | translate | translateCut:1 }}
        </span>
      </h2>
      <article class="us-mobile--team__wrapper__member" *ngFor="let member of 'us.mobile.team.members' | translate">
        <div class="us-mobile--team__wrapper__member__container">
          <div class="us-mobile--team__wrapper__member__container__photo">
            <img class="us-mobile--team__wrapper__member__container__photo--image" [src]="member.photo" [alt]="member.name">
          </div>
          <div class="us-mobile--team__wrapper__member__container__information">
            <span class="us-mobile--team__wrapper__member__container__information--name">
              {{ member.name }}
            </span>
            <span class="us-mobile--team__wrapper__member__container__information--role">
              {{ member.role }}
            </span>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
