/* You can add global styles to this file, and also import other style files */
@import "src/sass/variables";
@import "src/sass/custom";
@import "src/sass/animations";

// Fonts
// Poppins, Sora, Jura, Montserrat

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --white-color: #{$white-color};
  --black-color: #{$black-color};

  --primary-color: #{$primary-color};
  --primary-alt-color: #{$primary-alt-color};

  --secondary-color: #{$secondary-color};
  --secondary-alt-color: #{$secondary-alt-color};

  --light-color: #{$light-color};
  --light-alt-color: #{$light-alt-color};

  --dark-color: #{$dark-color};
  --dark-alt-color: #{$dark-alt-color};

  --grey-1-color: #{$grey-1-color};
  --grey-2-color: #{$grey-2-color};
  --grey-3-color: #{$grey-3-color};
  --grey-4-color: #{$grey-4-color};
  --grey-5-color: #{$grey-5-color};
  --grey-6-color: #{$grey-6-color};
  --grey-7-color: #{$grey-7-color};
  --grey-8-color: #{$grey-8-color};
  --grey-9-color: #{$grey-9-color};
  --grey-10-color: #{$grey-10-color};



}

body {}
