/* You can add global styles to this file, and also import other style files */
@import "src/sass/variables";
@import "src/sass/custom";
@import "src/sass/animations";
@import "src/sass/mixins";

// Fonts
// Poppins, Sora, Jura, Montserrat, Monserrat Alternates
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --white-color: #{$white-color};
  --black-color: #{$black-color};

  --primary-color: #{$primary-color};
  --primary-alt-color: #{$primary-alt-color};

  --secondary-color: #{$secondary-color};
  --secondary-alt-color: #{$secondary-alt-color};

  --light-color: #{$light-color};
  --light-alt-color: #{$light-alt-color};

  --dark-color: #{$dark-color};
  --dark-alt-color: #{$dark-alt-color};

  --grey-1-color: #{$grey-1-color};
  --grey-2-color: #{$grey-2-color};
  --grey-3-color: #{$grey-3-color};
  --grey-4-color: #{$grey-4-color};
  --grey-5-color: #{$grey-5-color};
  --grey-6-color: #{$grey-6-color};
  --grey-7-color: #{$grey-7-color};
  --grey-8-color: #{$grey-8-color};
  --grey-9-color: #{$grey-9-color};
  --grey-10-color: #{$grey-10-color};

  --background-facebook: #1196F5;
  --background-twitter: #00acee;
  --background-instagram: radial-gradient(circle farthest-corner at 35% 90%, #fe6464, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  --background-linkedin: #0e76a8;

  --mobile-navbar-height: #{$mobile-navbar-height};
  --mobile-footer-height: #{$mobile-footer-height};

  --max-width-desktop: #{$max-width-desktop};
  --desktop-content-padding: #{$desktop-content-padding};

  --banner-velocity: ;
  
  --carrousel-lenght: 0;
  --carrousel-velocity: 0ms;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-theme);
  color: var(--text-theme);
}

body.light-theme {
  --text-theme: var(--dark-color);
  --text-alt-theme: var(--dark-alt-color);
  --border-theme: #2a282820;
  --border-alt-theme: 0 1.5px 2.5px 0 var(--border-theme);
  --background-theme: var(--light-color);
  --background-alt-theme: var(--light-alt-color);
  --against-theme: var(--dark-color);
  --againts-alt-theme: var(--dark-alt-color);
}

body.dark-theme {
  --text-theme: var(--light-color);
  --text-alt-theme: var(--light-alt-color);
  --border-theme: #fbfbfb30;
  --border-alt-theme: 0 .25px 2.5px 0 var(--border-theme);
  --background-theme: var(--dark-color);
  --background-alt-theme: var(--dark-alt-color);
  --against-theme: var(--light-color);
  --againts-alt-theme: var(--light-alt-color);
}