/* You can add global styles to this file, and also import other style files */
@import "src/sass/variables";
@import "src/sass/custom";
@import "src/sass/animations";

:root {
  --white-color: #{$white-color};
  --black-color: #{$black-color};

  --primary-color: #{$primary-color};
  --primary-alt-color: #{$primary-alt-color};

  --secondary-color: #{$secondary-color};
  --secondary-alt-color: #{$secondary-alt-color};

  --light-color: #{$light-color};
  --light-alt-color: #{$light-alt-color};

  --dark-color: #{$dark-color};
  --dark-alt-color: #{$dark-alt-color};

  --grey-1-color: #{$grey-1-color};
  --grey-2-color: #{$grey-2-color};
  --grey-3-color: #{$grey-3-color};
  --grey-4-color: #{$grey-4-color};
  --grey-5-color: #{$grey-5-color};
  --grey-6-color: #{$grey-6-color};
  --grey-7-color: #{$grey-7-color};
  --grey-8-color: #{$grey-8-color};
  --grey-9-color: #{$grey-9-color};
  --grey-10-color: #{$grey-10-color};
}

body {}
