:host {
  @apply w-full;
}

article {
  @apply p-9 w-full bg-white text-black rounded-xl border-gray-200 border;

  header {

    section {
      @apply w-28 h-28 mb-2 overflow-clip;
    }

    p {
      @apply text-2xl text-[#2b2b2b] font-medium;
    }

    @apply mb-4;
  }

  main {
    @apply mb-20 text-sm leading-6;
  }
}
