.about__section {
    background: var(--primary-alt-color);

    .center_about_section {
        max-width: var(--max-width-desktop);
        margin: auto;
        display: flex;
        // gap: 20px;


        .about__content {
            padding: 4em 0 var(--desktop-content-padding) var(--desktop-content-padding);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;

            .__content {

                .about__title {
                    color: var(--grey-10-color);
                    font-weight: 700;
                    font-size: 2.5em;
                }

                .about__subtitle {
                    margin: -15px 0 0 0;
                    color: var(--grey-10-color);
                    font-size: 1.5em;
                }
            }

            .about__sai {
                color: var(--grey-9-color);
                max-width: 70%;
                margin: 10px 0 0 0;
                font-size: 16px;
            }

            .button_learn__more {
                background: var(--grey-10-color);
                border-radius: 8px;
                padding: 10px 20px;

                display: flex;
                align-items: center;
                gap: 30px;

                &:hover {
                    .arrow__icon {
                        transform: translateX(10px);
                    }
                }

                .text__learn {
                    color: var(--primary-alt-color);
                    // font-weight: 700;
                    font-size: 16px;
                }

                .arrow__icon {
                    transition: all ease-in 150ms;
                    color: var(--primary-alt-color);
                }
            }
        }

        .about__ilustration {
            width: 100%;

            img {
                object-fit: cover;
                height: 100%;
            }
        }
    }
}

.securities__section {
    background: #FFFF;
    border-bottom: 1px solid var(--grey-10-color);

    .center__securities__section {
        max-width: var(--max-width-desktop);
        padding: var(--desktop-content-padding);
        margin: auto;

        .header__securities {
            .title__header_securities {
                font-size: 1.7em;
                color: var(--grey-6-color);
            }
        }

        .body__securities {
            margin: 50px 0;
            display: flex;

            .security {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 50px;
                // border-right: 1px solid var(--grey-10-color);

                &:last-child {
                    border-right: none;
                }

                .security__icon {
                    font-size: 3.5em;
                    margin: 0 0 35px 0;
                    color: var(--primary-alt-color);
                }

                .security__title {
                    font-size: 20px;
                    font-weight: 500;
                    color: var(--primary-alt-color)
                }

                .security__body {
                    text-align: center;
                    font-size: 13px;
                    margin: 5px 0 0 0;
                    color: var(--grey-6-color);
                }
            }
        }
    }
}

.products__section {
    background: #FFFF;
    border-bottom: 1px solid var(--grey-10-color);

    .center__products__section {
        max-width: var(--max-width-desktop);
        padding: 6.25em var(--desktop-content-padding) 2em var(--desktop-content-padding);
        margin: auto;

        .header__products {
            margin: 0 0 3rem 0;

            .title__products {
                font-size: 2em;
                text-align: center;
                font-weight: 600;
                color: var(--grey-1-color);
                margin: 0 0 0 1em;
            }

            .subtitle__products {
                text-align: center;
                color: var(--grey-5-color);
                font-size: 1.1em;
            }
        }

        .body__products {
            display: flex;
            gap: 5em;
            margin: 30px 0 9em;

            .product {
                padding: 30px;
                border-radius: 5px;
                border: 1px solid var(--grey-10-color);
                display: flex;
                flex-direction: column;
                gap: 35px;
                transition: all ease-in 100ms;

                &:hover {
                    transform: scale(1.02);
                }

                .product__icon {
                    font-size: 50px;
                    color: var(--primary-alt-color);
                }

                .product__information {

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .product__title {
                        font-size: 1.6em;
                        font-weight: 600;
                        color: var(--grey-2-color);
                    }

                    .product__subtitle {
                        display: none;
                        line-height: 25px;
                        max-width: 300px;
                        font-size: 19px;
                        font-weight: 500;
                        color: #254183;
                        margin: -1px 0 0 0;
                    }

                    .product__about {
                        font-size: 16px;
                        color: var(--grey-3-color);
                        margin: 0px 0 0 0;
                    }

                    .product__link {
                        // padding: 10px 20px;
                        color: var(--primary-alt-color);
                        margin: 30px 0 0 0;
                        transition: all ease 200ms;
                        // background: #2d4e9c09;

                        &:hover {
                            // background: #2d4e9c1c;
                            border-bottom: 1px solid var(--primary-alt-color);
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.clients__section {
    background: #FFFF;
    border-bottom: 1px solid var(--grey-10-color);

    .center__clients__section {
        max-width: var(--max-width-desktop);
        padding: var(--desktop-content-padding);
        margin: auto;

        .header__clients__section {
            .title__clients {
                font-size: 2em;
                color: var(--grey-6-color);
            }
        }

        .body__clients__section {
            padding: 3em 0;
        }
    }
}

.formcontact__section {
    background: #fafafa;

    .center__formcontact__section {
        max-width: var(--max-width-desktop);
        padding: 0 var(--desktop-content-padding);
        margin: auto;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 6em;

        .check_send {
            height: 593px;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: translate-opacity 300ms;

            .message__check {
                display: flex;
                flex-direction: column;
                align-items: center;


                .title {
                    font-weight: 700;
                    font-size: 1.5em;
                    color: #3bb75c;
                }

                .message {
                    text-align: center;
                    max-width: 300px;
                    font-size: 16px;
                    color: #64a575;
                }

                .icon_check {
                    margin: 30px 0 0 0;
                    font-size: 5em;
                    color: #3bb75c;
                }
            }
        }


        .contactform__section {
            padding: 4em 0;

            grid-column: 1 / 2;

            display: flex;
            flex-direction: column;
            gap: 3em;

            .header__formcontact {
                .title__formcontact {
                    font-size: 2em;
                    color: var(--grey-1-color);
                    font-weight: 600;
                }

                .subtitle__formcontact {
                    font-size: 1.1em;
                    color: var(--grey-4-color);
                }
            }


            .body__form__contact {
                .contact__form {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;

                    .full {
                        grid-column: 1 / 3;
                    }

                    .formcontact__button {
                        background: var(--primary-alt-color);
                        padding: 11px;
                        border-radius: 7px;
                        color: #FFFF;
                        font-weight: 500;
                        position: relative;
                        overflow: hidden;
                        transition: all 500ms;
                        height: 46px;
                    }

                    .active {
                        background: #c1d3ff;
                    }
                }
            }

            .message__form {
                margin: 20px 0 0 0;
                border: 1px solid #4a80ff44;
                border-radius: 7px;
                padding: 7px;
                background: #4a80ff17;
                color: #4a80ff7a;
                text-align: center;
            }
        }

        .location__map {
            grid-column: 2 / 3;

            .mapouter {
                width: 100%;
            }
        }
    }
}

// Loader button

.loader {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
    33% {
        background: #FFF;
        box-shadow: -24px 0 #b4ccff, 24px 0 #FFF;
    }

    66% {
        background: #b4ccff;
        box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }

    100% {
        background: #FFF;
        box-shadow: -24px 0 #FFF, 24px 0 #b4ccff;
    }
}