<app-banner-desktop [information]=" 'home.banner' | translate " [velocity]="5000"></app-banner-desktop>

<section class="about__section">
    <div class="center_about_section">
        <div class="about__content">
            <div>
                <div class="__content">
                    <h1 class="about__title">{{ 'home.about.title' | translate }}</h1>
                    <p class="about__subtitle">{{ 'home.about.subtitle' | translate }}</p>
                </div>
                <p class="about__sai">{{ 'home.about.content' | translate }}</p>
            </div>
            
            <a class="button_learn__more" [routerLink]="'/about'">
                <p class="text__learn">{{ 'home.about.button_learn_more' | translate }}</p>
                <i class="fa solid fa-arrow-right arrow__icon"></i>
            </a>
        </div>  

        <div class="about__ilustration">ashd</div>
    </div>
</section>

<section class="products__section">
    <div class="center__products__section">
        <div class="header__products">
            <p class="title__products">{{'home.products.title' | translate }}</p>
        </div>
        <div class="body__products">

            <div class="product">
                <div>
                    <i class="fa-solid fa-desktop product__icon"></i>
                </div>
                <div class="product__information">
                    <p class="product__title">{{'home.products.SIFAB.title' | translate }}</p>
                    <p class="product__subtitle">{{'home.products.SIFAB.subtitle' | translate }}</p>
                    <p class="product__about">{{'home.products.SIFAB.about' | translate }}</p>

                    <a [routerLink]="'/product/sifab'">
                        <div class="product__link">
                            <p>
                                Mas sobre {{'home.products.SIFAB.title' | translate }}
                            </p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="product">
                <div>
                    <i class="fa-solid fa-window-maximize product__icon"></i>
                </div>
                <div class="product__information">
                    <p class="product__title">{{'home.products.SIFAPP.title' | translate }}</p>
                    <p class="product__subtitle">{{'home.products.SIFAPP.subtitle' | translate }}</p>
                    <p class="product__about">{{'home.products.SIFAPP.about' | translate }}</p>


                    <a [routerLink]="'/product/sifapp'">
                        <div class="product__link">
                            <p>
                                Mas sobre {{'home.products.SIFAPP.title' | translate }}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clients__section">
    <div class="center__clients__section">
        <div class="header__clients__section">
            <p class="title__clients">{{ 'home.clients.title' | translate }}</p>
        </div>
        <div class="body__clients__section">
            <app-slider-desktop [brands]=" 'home.clients.images' | translate  "></app-slider-desktop>
        </div>
    </div>
</section>

<section class="securities__section">
    <div class="center__securities__section">
        <div class="header__securities">
            <p class="title__header_securities">{{'home.securities.title' | translate }}</p>
        </div>
        <div class="body__securities">

            <div class="security">
                <i class="fa-solid fa-hands-holding-child security__icon"></i>
                <p class="security__title">{{'home.securities.responsability.title' | translate }}</p>
                <p class="security__body">{{'home.securities.responsability.body' | translate }}</p>
            </div>
            

            <div class="security">
                <i class="fa-solid fa-handshake-angle security__icon"></i>
                <!-- <i class="fa-solid fa-handshake security__icon"></i> -->
                <p class="security__title">{{'home.securities.honestly.title' | translate }}</p>
                <p class="security__body">{{'home.securities.honestly.body' | translate }}</p>
            </div>


            <div class="security">
                <i class="fa-solid fa-stamp security__icon"></i>
                <p class="security__title">{{'home.securities.cuality.title' | translate }}</p>
                <p class="security__body">{{'home.securities.cuality.body' | translate }}</p>
            </div>


            <div class="security">
                <!-- <i class="fa-solid fa-hands-holding-diamond security__icon"></i> -->
                <i class="fa-solid fa-hands-holding-circle security__icon"></i>
                <p class="security__title">{{'home.securities.competitiveness.title' | translate }}</p>
                <p class="security__body">{{'home.securities.competitiveness.body' | translate }}</p>
            </div>

        </div>
    </div>
</section>  

<!-- <section class="formcontact__section">
    <div class="center__formcontact__section">
        <form [formGroup] = "contactForm" (ngSubmit)="sendEmail(contactForm.value)">
            <input type="text" formControlName="name" placeholder="Nombre" name="" id="">
            <input type="text" formControlName="email" name="" placeholder="Correo electronico" id="">
            <input type="text" formControlName="phone" placeholder="Telefono (Opcional)" name="" id="">
            <input type="text" formControlName="message" placeholder="Mensaje" name="" id="">
            <button>Send email</button>
        </form>
    </div>
</section> -->
